<mat-dialog-content fxFlexFill>
  <nav>
  <div fxLayout="row" fxLayoutAlign="space-around" >
    <a *ngIf="!hasRoute('/login')" routerLink="/login" mat-button (click)="onNoClick()">
      <h1 mat-dialog-title>Sign in</h1>
    </a>
    <a *ngIf="!hasRoute('/register')" routerLink="/register" mat-button (click)="onNoClick()">
      <h1 mat-dialog-title>Sign up</h1>
    </a>
  </div>
  </nav>


  <div fxLayout="column" fxLayoutAlign="space-around">
    <mat-form-field appearance="fill">
      <mat-label>Enter your user name</mat-label>
      <input matInput [(ngModel)]="data.username">
      <div style="color: red" *ngIf="error.user">
        User does not exist
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="data.password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <div style="color: red" *ngIf="error.password">
        Wrong password
      </div>
    </mat-form-field>
  </div>

  <div fxLayoutAlign="center" >
    <button mat-raised-button color="primary" (click)="onLoginClick()">Login</button>
  </div>


</mat-dialog-content>




<!--<div mat-dialog-content>-->
<!--  <p>What's your favorite animal?</p>-->
<!--  <mat-form-field>-->
<!--&lt;!&ndash;    <input matInput [(ngModel)]="data.animal">&ndash;&gt;-->
<!--  </mat-form-field>-->
<!--</div>-->
<!--<div mat-dialog-actions>-->
<!--  <button mat-button (click)="onNoClick()">No Thanks</button>-->
<!--&lt;!&ndash;  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>&ndash;&gt;-->
<!--</div>-->
