
    <mat-sidenav fxLayout="column" >

      <div fxLayout="column" >

        <nav fxLayout="column">
          <a *ngIf="!hasRoute('/login') && !hasRoute('/register') && auth.currentUserValue===null" routerLink="/login" mat-button >Sig in/up</a>

          <a *ngIf="!hasRoute('/shops')" routerLink="/" mat-button>Shops</a>

          <a *ngIf="!hasRoute('/carts/'+auth.currentUserValue?.cart?.id) && !hasRoute('/carts')" routerLink="{{ (auth.currentUserValue?.roleType==='admin' || auth.currentUserValue?.roleType === 'vendor') ? '/carts' : '/carts/'+auth.currentUserValue?.cart?.id}}" mat-button>Cart</a>

          <a *ngIf="!hasRoute('/orders')" routerLink="/orders" mat-button>Orders</a>

          <a *ngIf="auth.currentUserValue!==null" mat-button (click)="auth.logout()" routerLink="/">Log out</a>
        </nav>
      </div>

    </mat-sidenav>

